html, body {
  font-family: 'Abel';
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.overviewContainer {
  height: 85vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  text-align: center;
}

.displayContainer {
  height: 85vh;
  display: flex;
  flex-direction: row;
  padding: 20px;
  font-size: calc(10px + 2vmin);
  color: black;
  text-align: center;
}

.documentList {
  width: '100%';
  max-width: 360;
  background-color: aliceblue;
  border: 10px #282c34;
  margin: 1em;
}

.uploadContainer {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
    text-align: center;
}

.uploadCard {
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  text-align: center;
}


.loginButton {
  margin: 1em !important;
}

.loginCard {
  width: 50%;
  margin: 0 auto !important;
  padding: 0 !important;
}

.loginCardContent {
  margin: 0 auto !important;
  padding: 0 !important;
}

.rightSeparator {
  border-right: 1px solid lightgray!important;
}

.loginCard .menuButton {
  margin: 0 !important;
  padding: 0 !important;
  height: 4em !important;
  border-radius: 0%;
  width: 50%;
}

.loginCard .menuButton:hover {
  border-bottom: 2px solid lightskyblue;
}

.menuButtons .button {
  margin: 1em;
}

.loginCard .loginMenu {
  margin: 0 !important;
  padding: 0 !important;
  border-bottom: 1px solid lightgray;
}


.centerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.centerDiv {
	width: 100px;
	height: 100px;
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}

.link {
  margin: 1em;
  text-decoration: none;
  color: inherit !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
